<div id="biography" class="page home" data-pos="home">
    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">
                
                <div class="row">
                    <!-- <div class="col-sm-2 visible-sm"></div>
                    <div class="col-sm-8 col-md-4">
                        <div class="biothumb">
                            <img alt="image" src="img/personal/personal-big.jpg" class="img-responsive">

                        </div>
                        
                    </div>
                    <div class="clearfix visible-sm visible-xs"></div>
                    <div class="col-sm-12 col-md-7">
                        <h3 class="title">Thanh H. Nguyen</h3> -->
                        <p>
                            I am a Robotics Engineer and Co-founder at <a href="https://www.paailatechnology.com">Paaila Technology Private Limited</a>. I work on various technologies related to mobile robotics, multi-agent system, computer vision and natural language processing. 

                            I am also interested in teaching. I am a part-time Assistant Lecturer and Laboratory Instructor in the Department of Electronics and Computer Engineering at Thapathali Campus of Tribhuvan University.
                        </p>
                    <!-- </div>   -->
                    
                </div>
            </div>        
        </div>
    </div>

    <div class="pagecontents">
        <div class="section color-1">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="title text-center">
                            <h3>Current Work</h3>
                        </div>
                        <ul class="ul-dates">
                            <li>
                                <div class="dates">
                                    <span>Present</span>
                                    <span>2016</span>
                                </div>
                                <div class="content">
                                    <h4>Robotics Engineer and Co-founder</h4>
                                    <p><em>Paaila Technology</em></p>
                                    
                                </div>
                            </li>
                            <!-- <li>
                                <div class="dates">
                                    <span>2005</span>
                                    <span>2004</span>
                                </div>
                                <div class="content">
                                    <h4>Full Professor</h4>
                                    <p><em>Stanford University</em>, Graduate School of Business</p>
                                </div>
                            </li>
                            <li>
                                <div class="dates">
                                    <span>2004</span>
                                    <span>2001</span>
                                </div>
                                <div class="content">
                                    <h4>Assistant Professor</h4>
                                    <p><em>UCLA</em>, Anderson Graduate School of Management</p>
                                </div>
                            </li>
                            <li>
                                <div class="dates">
                                    <span>2001</span>
                                    <span>1999</span>
                                </div>
                                <div class="content">
                                    <h4>Visiting Assistant Professor</h4>
                                    <p><em>Columbia University</em>, Graduate School of Business</p>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <div class="title text-center">
                            <h3>Education and Academic Positions</h3>
                        </div>
                        <ul class="ul-card">
                            <li>
                                <div class="dy">
                                    <span class="degree">Teaching</span>
                                    <span class="year">2019-Present</span>
                                </div>
                                <div class="description">
                                    <p class="waht">Assitant Lecturer and Laboratory Instructor</p>
                                    <p class="where">Thapathali Campus, Tribhuvan University</p>
                                    <p class="where">Department of Electronics and Computer Engineering</p>
                                </div>
                            </li>
                            <li>
                                <div class="dy">
                                    <span class="degree">B.E.</span><span class="year">2012 - 2016</span>
                                </div>
                                <div class="description">
                                    <p class="waht">Bachelor of Engineering</p>
                                    <p class="where">Electronics and Communication Engineering</p>
                                    <p class="where">Pulchowk Campus, Tribhuvan University</p>
                                    <p class="where">Department of Electronics and Computer Engineering</p>
                                </div>
                        </ul>
                    </div>    
                </div>    
            </div>
                
        </div>                         
    </div>
</div>