<div id="awards" class="page home" data-pos="home">
    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">
                <h2 class="title">Awards, Honors, and Fellowships</h2>
            </div>        
        </div>
    </div>

    <div class="pagecontents">
        <div class="section color-1">
            <div class="section-container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="title text-center">
                            <h3>Personal</h3>
                        </div>
                        <ul class="timeline">
                                    
                            <li class="open">
                                <div class="date">2016</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">Best Engineering Award and Panasonic Award. <a href="http://aburobocon2019.mnb.mn/en">ABU Robocon 2016, Thailand</a></div>
                                    <div class="text row">
                                        <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div>
                                        <div class="col-md-12">
                                            <!-- <p>Details here</p> -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2016</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">Best Industry and Automation Project Award. <a href="https://locus.pcampus.edu.np/">14th National Exhibition LOCUS 2016</a>, Nepal</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2015</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">Best Idea Award and Mabuchi Motor Award. ABU Robocon 2015, Indonesia</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2015</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">Best Project Award. 13th National Exhibition LOCUS 2015, Nepal</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2014</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">Best Project Award, 12th National Exhibition LOCUS 2014, Nepal</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2012</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">IOE Scholarship. Tribhuvan University. (Full scholarship for 4 years Bachelor of Engineering)</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2012</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">Best Student Award. <a href="http://www.nobel.edu.np/">Nobel Academy</a>. (Batch Topper)</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="date">2011</div>
                                <div class="circle"></div>
                                <div class="data">
                                    <div class="subject">First Position. 2nd National Trinity Sci-Tech Exhibition cum Competition</div>
                                    <div class="text row">
                                        <!-- <div class="col-md-2">
                                            <img alt="image" class="thumbnail img-responsive" src="img/personal/awards100x100.png" >
                                        </div> -->
                                        <div class="col-md-12">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>