
<div id="sidebar">
<div id="sidebar-wrapper">
    <div id="sidebar-inner">
        <!-- Profile/logo section-->
        <div id="profile" class="clearfix">
            <div class="portrate hidden-xs"></div>
            <div class="title">
                <h2>Sagar Shrestha</h2>
                <h3>Paaila Technlogy Pvt. Ltd | Thapathali Campus</h3>
                <h3>Tribhuvan University</h3>
            </div>   
        </div>
        <!-- /Profile/logo section-->

        <!-- Main navigation-->
        <div id="main-nav">
            <ul id="navigation">
                <li class="menu-item currentmenu" file-name='about_icon'>
                    <a >
                    <i class="fa fa-user"></i>
                    <div class="text">About Me</div>
                    </a>
                </li>  
                
                <li class="menu-item" file-name='research_icon'>
                    <a>
                    <i class="fa fa-book"></i>
                    <div class="text">Research Projects</div>
                    </a>
                </li> 
                
                <!-- <li class="menu-item" file-name='experience_icon'>
                    <a>
                    <i class="fa fa-briefcase"></i>
                    <div class="text">Work Experience</div>
                    </a>
                </li>  -->

                
                <li class="menu-item" file-name='publication_icon'>
                    <a>
                    <i class="fa fa-edit"></i>
                    <div class="text">Publications</div>
                    </a>
                </li> 

                <li class="menu-item" file-name="teaching_icon">
                    <a>
                    <i class="fa fa-users"></i>
                    <div class="text">Teaching</div>
                    </a>
                </li>

                <li class="menu-item" file-name="awards_icon">
                    <a>
                    <i class="fa fa-trophy"></i>
                    <div class="text">Awards</div>
                    </a>
                </li>

                <li class="external">
                    <a href="Sagar_CV.pdf">
                        <i class="fa fa-download"></i>
                        <div class="text">Download CV</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /Main navigation-->
        <!-- Sidebar footer -->
        <div id="sidebar-footer">
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>


            <div id="copyright">@ Sagar Shrestha 2019</div>
    
        </div>
        <!-- /Sidebar footer -->
    </div>

</div>
