<title>Sagar's Homepage</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="owwwlab.com">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- <meta name="description" content="A theme for faculty profile page" /> -->
<meta name="keywords" content="Sagar Shrestha, Pulchowk Campus, Robotics, Multi-Agent System, Computer Vision, Machine Learning, Software Development" />

<link rel="shortcut icon" href="../favicon.ico">

<!--CSS styles-->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- <link rel="stylesheet" href="css/font-awesome.min.css">   -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/style.css">
<link id="theme-style" rel="stylesheet" href="css/styles/default.css">


<!--/CSS styles-->
<!--Javascript files-->
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>

<script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
<script type="text/javascript" src="js/jquery.dropdownit.js"></script>

<script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

<script type="text/javascript" src="js/masonry.min.js"></script>

<script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

<script type="text/javascript" src="js/magnific-popup.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<!--/Javascript files-->
