
<div id="publications" class="page">
  <div class="page-container">
      <div class="pageheader">
          <div class="headercontent">
              <div class="section-container">
                  <h2 class="title">Publications, Reports and Writings</h2>
              </div>
          </div>
      </div>

      <div class="pagecontents">
          <div class="section color-1">
              <div class="section-container">
                  <div class="row">
                      <div class="col-md-12">
                          <br/>
                          <h2>Articles</h2>
                          <table><tr>
                          <td><table><tr><td>
                          <b>Autonomous Navigation of a Mobile Robot in Indoor Environments. [<a href="http://zerone.pcampus.edu.np/ojs/index.php/scholar/article/view/2/2">PDF</a>]</b><br/>
                          By Bimal Paneru, Niraj Basnet, <strong>Sagar Shrestha</strong>, Rabin Giri, Dinesh Baniya Kshatri. <br/>
                          In Zerone Scholar 2016. <br/>
                          </td></tr></table></td></tr><br/></table>


                            <!-------------------------------------------------->

                          <br/>
                          <h2>Final year Project</h2>
                          <table><tr>
                          <td><table><tr><td>
                          <b>SLAM Based Navigation of a Mobile Robot. [<a href="pub/finalyear_report.pdf">PDF</a>]</b><br/>
                          By <strong>Sagar Shrestha</strong>, Bimal Paneru, Niraj Basnet, Rabin Giri, Dinesh Baniya Kshatri. <br/>
                          In Zerone Scholar 2016. <br/>
                          </td></tr></table></td></tr><br/></table>


                          <!-------------------------------------------------->

                          <br/>
                          <h2>Conference</h2>
                          <table><tr>
                          <td><table><tr><td>
                          <b>Large Vocabulary Continuous Speech Recognition in Nepali Language. [<a href="pub/ASR_Paper.pdf">PDF</a>]</b><br/>
                          By <strong>Sagar Shrestha</strong>, Elina Baral.<br/>
                          [Accepted] IEEE International Conference on Computer and Communication Systems 2020 (ICCCS). <br/>
                          </td></tr></table></td></tr><br/></table>

                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
</div>

