
<div id="teaching" class="page">
<div class="pageheader">
    <div class="headercontent">
        <div class="section-container">
            
            <h2 class="title">Teaching</h2>
            
        </div>
    </div>
</div>
<div class="pagecontents">
    <div class="section color-1">
        <div class="section-container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="title text-center">
                        <h3>Currrent Teaching</h3>
                    </div>
                    <ul class="ul-dates">
                    <div class="dates">
                            <span>Oct 2019 - Present</span>
                            <!-- <span>1995</span> -->
                    </div>
                    <div class="content">
                        <a style="font-size:14pt;" href = "teaching/instrumentation.html"</a>EX 605: Instrumentation II</a>
                    </div>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section color-2">
        <div class="section-container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="title text-center">
                        <h3>Teaching History</h3>
                    </div>
                    <ul class="ul-dates-gray">
                        <li>
                            <div class="dates">
                            <span>Oct 2016 - Mar 2017</span>
                            
                            </div>
                            <div class="content">
                                <a style="font-size: 14;" href = "teaching/telecommunication.html">EX 703: Telecommunications </a>
                            </div>
                    
                        </li>
                    </ul>
                </div>
            </div>
                
        </div>
    </div>
</div>
</div>    

